<div class="col-md-8 col-md-offset-2">
  <div class="row">
    <div class="alert alert-info">
      <strong>Note:</strong> Highlight rows indicate unread messages
    </div>
  </div>
  <div class="row">
    <table class="table table-bordered">
      <thead>
      <tr>
        <% %w(Body ReceiveDate Sender Action).each do |title| %>
          <th><%= title %></th>
        <% end %>
      </tr>
      </thead>
      <tbody>
      <% @messages.each do |msg| %>
        <tr <% unless msg.is_read %>class="mark"<% end %>>
          <td><%= msg.body %></td>
          <td><%= msg.created_at.to_s %></td>
          <td><%= msg.sender %></td>
          <td>
            <%= link_to 'Delete', user_message_path(msg, msg.user), method: :delete, class: 'btn btn-danger' %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
